@model Emu.Common.Ticket

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Ticket</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.RequestorId, "Requestor")
        </div>
        <div class="editor-field">
            @Html.DropDownList("RequestorId", String.Empty)
            @Html.ValidationMessageFor(model => model.RequestorId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AssignedToId, "AssignedTo")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AssignedToId", String.Empty)
            @Html.ValidationMessageFor(model => model.AssignedToId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TicketDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TicketDescription)
            @Html.ValidationMessageFor(model => model.TicketDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TicketCreated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TicketCreated)
            @Html.ValidationMessageFor(model => model.TicketCreated)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TicketClosed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TicketClosed)
            @Html.ValidationMessageFor(model => model.TicketClosed)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
