@model Emu.Web.Models.MaintenanceCreateModel

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Ticket</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ticket.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Ticket.Description)
            @Html.ValidationMessageFor(model => model.Ticket.Description)
        </div>

        <div class="editor-field">
            @Html.DropDownList("Equipment.BarCode", Model.AvailableEquipment, "Select Equipment...")
        </div>

        <div>
            <input type="submit" class="btn btn-primary" value="Create" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
        </div>
    </fieldset>
}
