@model Emu.Web.Models.MaintenanceEditModel

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Ticket</legend>

        @Html.HiddenFor(model => model.Ticket.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Ticket.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Ticket.Description)
            @Html.ValidationMessageFor(model => model.Ticket.Description)
        </div>        

        <div class="editor-label">
            @Html.LabelFor(model => model.Ticket.DateCreated)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Ticket.DateCreated)
            @Html.HiddenFor(model => model.Ticket.DateCreated)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ticket.DateClosed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ticket.DateClosed)
            @Html.ValidationMessageFor(model => model.Ticket.DateClosed)
        </div>

        <div>
            @Html.Hidden("Ticket.Type", (int)Model.Ticket.Type)
            @Html.Hidden("Equipment.BarCode", Model.Ticket.Equipment.BarCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ticket.License, "Software to Install")
        </div>

        <div class="editor-field">
            @Html.DropDownList("License.ID", Model.AvailableLicense)
        </div>

        <div>
            <input type="submit" class="btn btn-primary" value="Save" />
            @Html.ActionLink("Back to List", "Index", null, new { @class= "btn" })
        </div>

    </fieldset>
}
