@model IEnumerable<Emu.Common.Software>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="indexList" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoftwareBarCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoftwareSerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoftwareDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @foreach (var item in Model) {
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoftwareBarCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoftwareSerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoftwareDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.SoftwareId }) |
                @Html.ActionLink("Details", "Details", new { id=item.SoftwareId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.SoftwareId })
            </td>
        </tr>
    
    }

    </tbody>
</table>


@section scripts{
@*This will go below jquery in the shared layout page*@
@*<script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.js"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
        $('#indexList').dataTable({
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": false
        });
    });
</script>

}