@model Emu.Common.Equipment

<fieldset>
    <legend>Equipment</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BarCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BarCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WarrantyExpiration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WarrantyExpiration)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class ="btn" })
</p>
