@model IEnumerable<Emu.Common.Equipment>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="indexList">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentBarCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentSerialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WarrantyExpiration)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EquipmentBarCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipmentSerialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipmentDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipmentLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WarrantyExpiration)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EquipmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EquipmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EquipmentId })
        </td>
    </tr>
}

</table>
