@model Emu.Common.License

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>License</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.LicenseKey)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LicenseKey)
            @Html.ValidationMessageFor(model => model.LicenseKey)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExpirationDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExpirationDate)
            @Html.ValidationMessageFor(model => model.ExpirationDate)
        </div>
        
        <div>
            <input type="submit" class="btn btn-primary" value="Create" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
        </div>

    </fieldset>
}
