@model Emu.Common.License

<fieldset>
    <legend>License</legend>

    <div class="row">
        <div class="span4">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.LicenseKey)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.LicenseKey)
            </div>
        </div>

        <div class="span4">
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.ExpirationDate)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.ExpirationDate)
            </div>
        </div>
    </div>
</fieldset>

<div>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
</div>
