@model Emu.Web.Models.LicensesEditModel

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>License</legend>

        @Html.HiddenFor(model => model.License.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.License.Software)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.License.Software, Model.Software)
            @Html.ValidationMessageFor(model => model.License.Software)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.License.LicenseKey)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.License.LicenseKey)
            @Html.ValidationMessageFor(model => model.License.LicenseKey)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.License.ExpirationDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.License.ExpirationDate)
            @Html.ValidationMessageFor(model => model.License.ExpirationDate)
        </div>
        
        <div>
            <input type="submit" class="btn btn-primary" value="Save" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
        </div>
        
    </fieldset>
}
