@model IEnumerable<Emu.Common.SoftwareLicense>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table id="indexList" class="display table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LicenseKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpirationDate)
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LicenseKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.SoftwareLicenseId }) |
                @Html.ActionLink("Details", "Details", new { id=item.SoftwareLicenseId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.SoftwareLicenseId })
            </td>
        </tr>
    
    }

    </tbody>
</table>


@section scripts{

<script type="text/javascript">
    $(document).ready(function () {
        $('#indexList').dataTable({
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": false
        });
    });

</script>
}
