@model IEnumerable<Emu.Common.User>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>

        <th></th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.Encode(item.Type.ToString())
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Reset Password", "Details", new { id=item.ID })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink( "Create New", "Create", new { @class = "btn btn-primary" } )
</p>