@model Emu.Common.NetworkAddress

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>NetworkAddress</legend>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.IP, "IP Address")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.IP)
            @Html.ValidationMessageFor(model => model.IP)
        </div>

        <div>
            <input type="submit" class="btn btn-primary" value="Create" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
</div>
