@model Emu.Web.Models.NetworkingEditModel

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>NetworkAddress</legend>

        @Html.HiddenFor( model => model.Address.ID )
        @Html.TextBoxFor(model => model.Address.IP)
        @Html.HiddenFor(model => model.Address.InstalledOn.BarCode)
        @Html.DropDownList("InstalledOn.BarCode", Model.AvailableEquipment)
        
        
        <div>
            <input type="submit" class="btn btn-primary" value="Save" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
        </div>
    </fieldset>
}

<div>
    
</div>
