@model Emu.Common.NetworkAddress

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>NetworkAddress</legend>

        @Html.HiddenFor( model => model.ID )
        @Html.TextBoxFor(model => model.IP)
        @Html.HiddenFor(model => model.InstalledOn.BarCode)
        
        <div>
            <input type="submit" class="btn btn-primary" value="Save" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
        </div>
    </fieldset>
}

<div>
    
</div>
