@model IEnumerable<Emu.Common.NetworkAddress>

<table class="table table-bordered table-hover">
    <tr>
        <th>IP Address</th>
        <th>Installed On</th>
        <th>&nbsp;</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.IP.ToString()
        </td>
        <td>
            @item.InstalledOn.Description
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink( "Create New", "Create", null, new { @class = "btn btn-primary btn-large" } )
</div>